<div class="container align-center">
    <br>
    <div class="card text-center text-white bg-dark mb-3">
        <div class="card-body">
            <h5 class="card-title">MasterKeys ⚿</h5>
            <h6 class="card-subtitle mb-2 text-muted">Piezas Premium</h6>
            <p class="card-text">Switches, Keycaps y todo para tu Teclado Mecánico.</p>
        </div>
    </div>
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/427/349/themes/new_linkedman/slide-1613498352829-2784365192-cad5750bee64cd44e0a8daf576ee92f81613498357-1024-1024.png?1091286849"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/427/349/themes/new_linkedman/slide-1613498352829-2821647174-5bb01bbb6ee820a22b9d44f1575dd6411613498356-1024-1024.png?1091286849"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container">
        <br>
        <div class="text-white">
            <h2>Los más vistos</h2>
        </div>

        <!-- this carousel works like div paginated -->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div *ngFor="let product of firsthalf" class="col-sm-6 col-lg-4 mb-3">
                            <div class="card" routerLink="/products">
                                <div class="imager" style="background-image: url({{product.image}})"></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">{{product.type}} - Pack de {{product.pack}} unidades.</p>
                                    <p class="card-text"><small class="text-muted">{{product.price |
                                            currency:'CLP'}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div *ngFor="let product of secondhalf" class="col-sm-6 col-lg-4 mb-3">
                            <div class="card" routerLink="/products">
                                <div class="imager" style="background-image: url({{product.image}})"></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">{{product.type}} - Pack de {{product.pack}} unidades.</p>
                                    <p class="card-text"><small class="text-muted">{{product.price |
                                            currency:'CLP'}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="pagination justify-content-center" style="margin:20px 0">
                <li class="page-item">
                    <a class="page-link" aria-disabled="true" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0">1</a></li>
                <li class="page-item"><a class="page-link" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1">2</a></li>
                <li class="page-item">
                    <a class="page-link" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">Siguiente</a>
                </li>
            </ul>
        </div>
        <!-- end carousel of products -->
    </div>
    <br>
</div>