.form, .order {
    margin: 20px 0px;
}

.footer {
    font-size: 15px;
    padding-top: 10px;
}
.footer-content {
    margin-left: 10px;

}

button {
    margin: 0px 20px 10px 0px;
}

.h-zigzag {
    margin-top: -3px;
    height: 10px;
    background:
        linear-gradient(-135deg, white 5px, transparent 0) 0 5px,
        linear-gradient(135deg, white 5px, transparent 0) 0 5px;
    background-color: transparent;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
 
}