.card{
    height: 100%;
} 

.buy {
    margin-top: auto;
}

.imager {
    width: auto;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.info {
    margin-top: 30px;
}