<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4 class="text-center text-white">Productos disponibles</h4><br>
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3" *ngFor="let product of productList; index as i">
                    <div class="card">
                        <div class="imager" style="background-image: url({{product.image}})"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <div class="info">
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="collapse" href="#collapse{{i}}"
                                    role="button" aria-expanded="false">
                                    Descripción:
                                </a>
                                <div class="collapse" id="collapse{{i}}">
                                    <p class="card-text">{{product.description}}</p>
                                </div>
                            </div>
                            <p class="card-text">{{product.type}} - Pack de {{product.pack}} unidades.</p>
                            <p class="card-text"><small class="text-muted">{{product.price | currency:'CLP'}}</small>
                            </p>
                            <a class="buy btn btn-primary btn-xs" (click)="addToCart(i)">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>