<div class="container" style="min-height:80vh">
    <div class="row">
        <div class="col">
            <div class="row row-cols-md-4">
                <div *ngFor="let product of productList; index as i" class="col">
                    <div class="card">
                        <img src="{{product.image}}" class="card-img">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <div class="info">
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="collapse" href="#collapse{{i}}"
                                    role="button" aria-expanded="false">
                                    Descripción
                                </a>
                                <div class="collapse" id="collapse{{i}}">
                                    <p class="card-text">{{product.description}}</p>
                                </div>
                            </div>
                            <p class="card-text">{{product.type}} - Pack de {{product.pack}} unidades.</p>
                            <p class="card-text"><small class="text-muted">{{product.price | currency:'CLP'}}</small>
                            </p>
                            <a class="btn btn-primary btn-xs" (click)="addToCart(i)">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>