<div class="container" style="min-height:80vh">
    <div class="row">
        <div class="col">
            <div class="row row-cols-md-4">
                <div *ngFor="let product of productList; index as i" class="col">
                    <div class="card">
                        <img src="{{product.image}}" class="card-img">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <div class="info">
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="collapse" href="#collapse{{i}}"
                                    role="button" aria-expanded="false">
                                    Descripción
                                </a>
                                <div class="collapse" id="collapse{{i}}">
                                    <p class="card-text">{{product.description}}</p>
                                </div>
                            </div>
                            <p class="card-text">{{product.type}} - Pack de {{product.pack}} unidades.</p>
                            <p class="card-text"><small class="text-muted">{{product.price | currency:'CLP'}}</small>
                            </p>
                            <a class="btn btn-primary btn-xs" (click)="addToCart(i)">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 order">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ORDEN DE COMPRA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Detalle de productos:</h6>
                    <hr>
                    <table class="table">
                        <thead>
                            <th scope="col">Nombre</th>
                        </thead>
                        <tbody>
                            <tr scope="row"  *ngFor="let item of cart; index as i" [attr.data-index]="i">
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <button (click)="deleteFromCart(i)"></button>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <!-- <p class="card-text">SUBTOTAL: ${{subtotal}}</p>
                    <p class="card-text">IVA 19%: ${{iva}}</p>
                    <p class="card-text">TOTAL A PAGAR: ${{total}}</p> -->
                    <p class="card-text">Cantidad de productos: {{productQuantity}}</p>
                    <hr>
                </div>
            </div>
            <!-- <div class="h-zigzag"></div><br /> -->
        </div>
    </div>
</div>