<footer class="footer text-white bg-dark">
    <div class="row m-0 footer-content">
        <div class="col">
            <h5>MasterKeys</h5>
            La mejor calidad en productos.
        </div>
        <div class="col">
            Navegar
            <hr>
            <ul>
                <li>Productos</li>
                <li>Group buy</li>
                <li>Contacto</li>
            </ul>
        </div>
        <div class="col">
            Sobre nosotros
            <hr>
            Conoce más en github @Thempler1.
        </div>
    </div>
</footer>